/* FONTS */

@font-face {
  font-family: BurbankSmall;
  src: url(BurbankSmall-Black.otf) format('opentype');
}


/* HTML & BODY */

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}


/* HEADER */

#logo {
  z-index: 900;
  position: fixed;
  top: 20px;
  left: 20px;
}

h1 {
  font: 2.55em BurbankSmall, sans-serif;
  -webkit-text-stroke: 2px #333;
  -webkit-text-fill-color: #FBF172;
  margin: 0;
  padding: 0;
}

@media (max-width : 768px) {
  h1 {
    font-size: 1.75em;
  }
}

h1 .white {
  font-size: 0.7em;
  -webkit-text-fill-color: white;
}

#description {
  z-index: 900;
  position: fixed;
  top: 72px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: BurbankSmall;
  color: white;
  line-height: 24px;
  font-size: 1.1em;
  max-width: 600px;
  text-align: justify;
  white-space: normal;
}

@media (max-width : 768px) {
  #description {
    font-size: 1em;
    top: 55px;
  }
}

.twitter-share-button {
  margin-top: 7px;
}


/* FOOTER */

#by {
  z-index: 900;
  position: fixed;
  bottom: 30px;
  right: 0;
  background-color: #14354A;
  opacity: 0.8;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

#by a {
  text-decoration: none;
  display: block;
  margin: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 26px;
  font: 1.35em BurbankSmall, sans-serif;
  -webkit-text-fill-color: white;
  font-weight: 400;
}


/* MAP */

#map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.marker {
  font: 2.25em BurbankSmall, sans-serif;
  -webkit-text-stroke: 2px #333;
  text-align: center;
}

@media (max-width : 768px) {
  .marker {
    font-size: 2em;
  }
}

.marker strong {
  font-size: 1.2em;
}

.marker.red {
  -webkit-text-fill-color: #DF3325;
}

.marker.orange {
  -webkit-text-fill-color: #F0E754;
}

.marker.white {
  -webkit-text-fill-color: #C0EAF0;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  display: none!important;
}

.mapboxgl-popup {
  font: 1.4em 'Open Sans', sans-serif;
  font-weight: 500;
}